.profile {
  margin: 0 auto 51px;
  display: flex;
  /* flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; */
  max-width: 880px;
}

@media screen and (max-width: 879px) {
  .profile {
    flex-direction: column;
    max-width: 600px;
  }
}




@media screen and (max-width: 321px) {
  .profile {
    margin: 0 auto 36px;
    flex-direction: column;
  }
}

