.footer__author {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  text-align: left;
}

@media screen and (max-width: 321px) {
  .footer__author {
    font-size: 14px;
    line-height: 17px;
  }
}
