.elements__button {
  width: 21px;
  height: 19px;
  margin: 6px 20px 30px 19px;
  padding: 0;
  cursor: pointer;
  background-color: white;
  border: 0;
  transition: .2s linear;
}

.elements__button:hover {
  opacity: 0.5;
}
