.profile__intro {
  width: 600px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

@media screen and (max-width: 321px) {
  .profile__intro {
    margin: 0 auto;
    flex-direction: column;
    width: 282px;
  }
}
